@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --header-height: 3.25rem;
    --side-menu-width: 14rem;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: rgb(255, 255, 255);
    --color-base-200: rgb(237, 241, 245);
    --color-base-300: oklch(82.4% 0 0);
    --color-base-content: rgb(28, 46, 54);
    --color-primary: oklch(0% 0 0);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(75% 0.183 55.934);
    --color-secondary-content: oklch(26% 0.079 36.259);
    --color-accent: oklch(85% 0.199 91.936);
    --color-accent-content: oklch(28% 0.066 53.813);
    --color-neutral: oklch(60% 0.043 257.281);
    --color-neutral-content: oklch(98% 0.001 106.423);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(69% 0.17 162.48);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
    --color-line: oklab(0.289171 -0.0186701 -0.0205069 / 0.2);
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-line: oklab(0.97807 -0.00659901 -0.0282392 / 0.2);
}

@layer utilities {
    /* General */

    .border-separator {
        @apply border-gray-300 dark:border-gray-600;
    }

    .border-line {
        border-color: var(--color-line);
    }

    /* Buttons */

    .btn-delete {
        @apply hover:text-white hover:bg-error border-none;
    }

    @media (prefers-color-scheme: dark) {
        .btn-neutral {
            background-color: oklch(50% 0.043 257.281);
        }
    }

    .btn-info {
        @apply dark:text-primary-content;
    }

    /* Badges */

    .badge-neutral {
        @apply bg-gray-400 border-none;
    }

    /* Containers */

    .default-container {
        @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
    }

    .fit-container {
        @apply w-fit mx-auto px-4 sm:px-6 lg:px-8;
    }

    /* Boxes */

    .standard-box {
        @apply rounded-2xl bg-base-100;
    }
}

@layer base {
    /* Dashboard layout */

    .dashboard-layout {
        @apply bg-base-200 text-base-content;
    }

    .dashboard-layout .header-section {
        @apply flex items-center bg-base-100 shadow-md px-6;

        height: var(--header-height);
    }

    .dashboard-layout .main-section {
        @apply relative flex bg-base-200;

        padding-top: var(--header-height);
    }

    .dashboard-layout .main-section .side-menu-section {
        @apply fixed left-0 z-80 transition-all duration-400 p-6;

        width: var(--side-menu-width);
    }

    .dashboard-layout .main-section.side-menu-closed .side-menu-section {
        left: calc(-1 * var(--side-menu-width));
    }

    @media (max-width: 1023px) {
        .dashboard-layout .main-section.side-menu-open .side-menu-section {
            @apply bg-base-100 shadow-xl rounded-b-lg;
            @apply dark:shadow-[0_2px_4px_rgba(0,0,0,0.5),0_8px_20px_rgba(0,0,0,0.7)];
        }
    }

        .dashboard-layout .side-menu-section .side-menu-group {
            @apply mb-2;
        }

        .dashboard-layout .side-menu-section .side-menu-group ul {
            @apply ml-4 pb-2;
        }

        .dashboard-layout .side-menu-group .side-menu-group-title {
            @apply uppercase font-bold text-xs mb-2;
        }

        .dashboard-layout .side-menu-section .side-menu-group ul {
            @apply text-sm space-y-2;
        }

        .dashboard-layout .side-menu-section .side-menu-group ul li a {
            @apply link link-hover;
        }

    .dashboard-layout .main-section .content-section {
        @apply w-full border-l border-[var(--color-line)] transition-all duration-400 px-6 py-8;

        min-height: calc(100vh - 8rem);
        margin-left: var(--side-menu-width);
    }

    @media (max-width: 1023px) {
        .dashboard-layout .main-section .content-section {
            @apply border-none ml-0;
        }
    }

    .dashboard-layout .main-section.side-menu-closed .content-section {
        @apply border-none ml-0;
    }

    /* Default layout */

    .default-layout {
        @apply bg-base-200 text-base-content;
    }

    .default-layout .header-section {
        @apply flex items-center bg-base-100 shadow-md px-6;

        height: var(--header-height);
    }

    .default-layout .main-section {
        @apply relative flex bg-base-200;

        padding-top: var(--header-height);
    }

    .default-layout .main-section .content-section {
        @apply w-full py-8;

        min-height: calc(100vh - 8rem);
    }

    /* Form section */

    .form-section {
        @apply flex flex-col gap-2;
    }

        .form-section h1 {
            @apply text-xl font-semibold text-center;
        }

        .form-section .form-description {
            @apply text-sm text-center;
        }

        .form-section .form-part {
            @apply mb-4;
        }

        .form-section .input {
            @apply !w-full;
        }

        .form-section .form-part .form-element {
            @apply relative flex flex-col gap-2 mb-2;
        }

        .form-section .form-part label {
            @apply text-sm font-semibold;
        }

        .form-section .form-part .form-element-error {
            @apply text-error text-sm;
        }

        .form-section .form-element .form-tooltip-error {
            @apply w-full text-error dark:text-base-content text-xs md:text-sm absolute left-0 top-full mt-2 z-50 px-4 py-2 bg-error-content rounded shadow-md transition-opacity duration-150 opacity-0 pointer-events-none;

            &::before {
                @apply absolute -top-1.5 left-4 w-3 h-3 bg-error-content rotate-45;
                content: "";
            }
        }

        .form-section .form-element:hover .form-tooltip-error {
            @apply opacity-100 pointer-events-auto;
        }

        .form-section .form-submit-error {
            @apply mt-2 text-error text-sm;
        }

        .form-section .form-submit-info {
            @apply mt-2 text-info text-sm;
        }

    .form-result h1 {
        @apply text-xl font-semibold
    }

    .form-result .form-result-content {
        @apply mt-4 text-sm;
    }
}